docs/FLS_SIAR1.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://flussi.mds.it/FLS_SIAR1" xmlns:fls="http://flussi.mds.it/FLS_SIAR1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:simpleType name="tipoTrasmissione">
		<xs:restriction base="xs:string">
			<xs:pattern value="[IVC]{1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Id_Rec">
		<xs:restriction base="xs:string">
			<xs:length value="88"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CUNI">
		<xs:restriction base="xs:string">
			<xs:length value="88"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="validitaCI">
		<xs:restriction base="xs:integer">
			<xs:pattern value="[0-1]{1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tipologiaCI">
		<xs:restriction base="xs:integer">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="97"/>
			<xs:enumeration value="98"/>
			<xs:enumeration value="99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="anno">
		<xs:restriction base="xs:string">
			<xs:pattern value="(1899|19[0-9]{2}|20[0-9]{2}|2099)|9999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="genere">
		<xs:restriction base="xs:string">
			<xs:pattern value="[1-3]{1}"/>
			<xs:pattern value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="cittadinanza">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{2}"/>
			<xs:pattern value="99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="statoCivile">
		<xs:restriction base="xs:string">
			<xs:pattern value="[1-9]{1}|[10][99]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="responsabilitaGenitoriale">
		<xs:restriction base="xs:string">
			<xs:pattern value="[1-6]{1}"/>
			<xs:pattern value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="titoloStudio">
		<xs:restriction base="xs:string">
			<xs:pattern value="[1-7]{1}"/>
			<xs:pattern value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="condizioneProfessionale">
		<xs:restriction base="xs:string">
			<xs:pattern value="[1-7]{1}"/>
			<xs:pattern value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="regioneResidenza">
		<xs:restriction base="xs:string">
			<xs:pattern value="010"/>
			<xs:pattern value="020"/>
			<xs:pattern value="030"/>
			<xs:pattern value="041"/>
			<xs:pattern value="042"/>
			<xs:pattern value="050"/>
			<xs:pattern value="060"/>
			<xs:pattern value="070"/>
			<xs:pattern value="080"/>
			<xs:pattern value="090"/>
			<xs:pattern value="100"/>
			<xs:pattern value="110"/>
			<xs:pattern value="120"/>
			<xs:pattern value="130"/>
			<xs:pattern value="140"/>
			<xs:pattern value="150"/>
			<xs:pattern value="160"/>
			<xs:pattern value="170"/>
			<xs:pattern value="180"/>
			<xs:pattern value="190"/>
			<xs:pattern value="200"/>
			<xs:pattern value="999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="comuneResidenza">
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-zA-Z0-9]{6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="regioneErogazione">
		<xs:restriction base="xs:string">
			<xs:pattern value="010"/>
			<xs:pattern value="020"/>
			<xs:pattern value="030"/>
			<xs:pattern value="041"/>
			<xs:pattern value="042"/>
			<xs:pattern value="050"/>
			<xs:pattern value="060"/>
			<xs:pattern value="070"/>
			<xs:pattern value="080"/>
			<xs:pattern value="090"/>
			<xs:pattern value="100"/>
			<xs:pattern value="110"/>
			<xs:pattern value="120"/>
			<xs:pattern value="130"/>
			<xs:pattern value="140"/>
			<xs:pattern value="150"/>
			<xs:pattern value="160"/>
			<xs:pattern value="170"/>
			<xs:pattern value="180"/>
			<xs:pattern value="190"/>
			<xs:pattern value="200"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="codASL">
		<xs:restriction base="xs:string">
			<xs:length value="3"/>
			<xs:pattern value="[0-9]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="strutturaErogatrice">
		<xs:restriction base="xs:string">
			<xs:maxLength value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="soggettoRichiedente">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-7]{1}"/>
			<xs:pattern value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="assistenzaErogazione">
		<xs:restriction base="xs:string">
			<xs:pattern value="[1-5]{1}"/>
			<xs:pattern value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="percentualeSSN">
		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="pianificazioneCondivisa">
		<xs:restriction base="xs:string">
			<xs:pattern value="[1-2]{1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="autonomia">
		<xs:restriction base="xs:string">
			<xs:pattern value="[1-3]{1}"/>
			<xs:pattern value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="gradoMobilita">
		<xs:restriction base="xs:string">
			<xs:pattern value="[1-5]{1}"/>
			<xs:pattern value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="disturbo">
		<xs:restriction base="xs:string">
			<xs:pattern value="[1-3]{1}"/>
			<xs:pattern value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="areaSensoriale">
		<xs:restriction base="xs:string">
			<xs:pattern value="[1-3]{1}"/>
			<xs:pattern value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="bisognoAssistenziale">
		<xs:restriction base="xs:string">
			<xs:pattern value="[1-8]{1}"/>
			<xs:pattern value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ambito">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="esito">
		<xs:restriction base="xs:string">
			<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="durataPri">
		<xs:restriction base="xs:string">
			<xs:pattern value="[1-9]{1}|[10-99]{2}|[100-365]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="orePri">
		<xs:restriction base="xs:string">
			<xs:pattern value="[1-9]{1}|[10-99]{2}|[100-999]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="professionista">
		<xs:restriction base="xs:string">
			<xs:pattern value="[1-2]{1}"/>
			<xs:pattern value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="patologia">
		<xs:restriction base="xs:string">
			<xs:length value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="bisogno">
		<xs:restriction base="xs:string">
			<xs:pattern value="[1-2]{1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="stabilita">
		<xs:restriction base="xs:string">
			<xs:pattern value="[1-6]{1}"/>
			<xs:pattern value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="supporto">
		<xs:restriction base="xs:string">
			<xs:pattern value="[1-3]{1}"/>
			<xs:pattern value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="scalaDis1">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1}|1[0-9]{1}|2[0-2]{1}|99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="scalaDis2">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1}|1[0-9]{1}|2[0-2]{1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="Trasmissione">
		<xs:complexType>
			<xs:attribute name="tipo" type="fls:tipoTrasmissione" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Assistito">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="fls:DatiAnagrafici"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DatiAnagrafici">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CUNI" type="fls:CUNI"/>
				<xs:element ref="fls:Residenza"/>
				<xs:element name="validitaCI" type="fls:validitaCI"/>
				<xs:element name="tipologiaCI" type="fls:tipologiaCI"/>
				<xs:element name="AnnoNascita" type="fls:anno"/>
				<xs:element name="Genere" type="fls:genere"/>
				<xs:element name="Cittadinanza" type="fls:cittadinanza"/>
				<xs:element name="StatoCivile" type="fls:statoCivile"/>
				<xs:element minOccurs="0" name="ResponsabilitaGenitoriale" type="fls:responsabilitaGenitoriale"/>
				<xs:element name="TitoloStudio" type="fls:titoloStudio"/>
				<xs:element name="CondizioneProfessionale" type="fls:condizioneProfessionale"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Residenza">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Regione" type="fls:regioneResidenza"/>
				<xs:element name="ASL" type="fls:codASL"/>
				<xs:element name="Comune" type="fls:comuneResidenza"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Erogatore">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CodiceRegione" type="fls:regioneErogazione"/>
				<xs:element name="CodiceASL" type="fls:codASL"/>
				<xs:element name="StrutturaErogatrice" type="fls:strutturaErogatrice"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PresaInCarico">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Id_Rec" type="fls:Id_Rec"/>
				<xs:element minOccurs="0" name="PercentualeSSN" type="fls:percentualeSSN"/>
				<xs:element minOccurs="0" name="PianificazioneCondivisa" type="fls:pianificazioneCondivisa"/>
				<xs:element minOccurs="0" name="SettingAssistenziale" type="fls:assistenzaErogazione"/>
			</xs:sequence>
			<xs:attribute name="Data" type="xs:date" use="required"/>
			<xs:attribute name="SoggettoRichiedente" type="fls:soggettoRichiedente" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Patologia">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Principale" type="fls:patologia"/>
				<xs:element minOccurs="0" name="Concomitante" type="fls:patologia"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Valutazione">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="fls:Patologia"/>
				<xs:element name="Autonomia" type="fls:autonomia"/>
				<xs:element name="GradoMobilita" type="fls:gradoMobilita"/>
				<xs:element ref="fls:Disturbi"/>
				<xs:element name="AreaSensoriale" type="fls:areaSensoriale"/>
				<xs:element name="BisognoInternistico" type="fls:bisognoAssistenziale"/>
				<xs:element name="StabilitaClinica" type="fls:stabilita"/>
				<xs:element minOccurs="0" name="PresenzaCaregiver" type="fls:bisogno"/>
				<xs:element name="SupportoSociale" type="fls:supporto"/>
				<xs:element minOccurs="0" name="UtilizzoDisProtesiOrtesi" type="fls:bisogno"/>
				<xs:element name="AmbitoInterventoPRI1" type="fls:ambito"/>
				<xs:element minOccurs="0" name="AmbitoInterventoPRI2" type="fls:ambito"/>
				<xs:element minOccurs="0" name="AmbitoInterventoPRI3" type="fls:ambito"/>
				<xs:element minOccurs="0" name="AmbitoInterventoPRI4" type="fls:ambito"/>
				<xs:element minOccurs="0" name="AmbitoInterventoPRI5" type="fls:ambito"/>
				<xs:element minOccurs="0" name="AmbitoInterventoPRI6" type="fls:ambito"/>
				<xs:element name="ScalaClassDis1" type="fls:scalaDis1"/>
				<xs:element minOccurs="0" name="EsitoRilevazioneDis1" type="fls:esito"/>
				<xs:element name="ScalaClassDis2" type="fls:scalaDis1"/>
				<xs:element minOccurs="0" name="EsitoRilevazioneDis2" type="fls:esito"/>
				<xs:element name="ScalaClassDis3" type="fls:scalaDis1"/>
				<xs:element minOccurs="0" name="EsitoRilevazioneDis3" type="fls:esito"/>
				<xs:element minOccurs="0" name="ScalaClassDis4" type="fls:scalaDis2"/>
				<xs:element minOccurs="0" name="EsitoRilevazioneDis4" type="fls:esito"/>
				<xs:element minOccurs="0" name="ScalaClassDis5" type="fls:scalaDis2"/>
				<xs:element minOccurs="0" name="EsitoRilevazioneDis5" type="fls:esito"/>
				<xs:element minOccurs="0" name="ScalaClassDis6" type="fls:scalaDis2"/>
				<xs:element minOccurs="0" name="EsitoRilevazioneDis6" type="fls:esito"/>
				<xs:element name="DurataComplessivaPRI" type="fls:durataPri"/>
				<xs:element name="OreTrattTotPRI" type="fls:orePri"/>
				<xs:element ref="fls:Operatore"/>
			</xs:sequence>
			<xs:attribute name="Data" type="xs:date" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Disturbi">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Cognitivi" type="fls:disturbo"/>
				<xs:element name="Comportamentali" type="fls:disturbo"/>
				<xs:element name="Comunicazione" type="fls:disturbo"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Operatore">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ProfCoinMMGPLS" type="fls:professionista"/>
				<xs:element name="ProfCoinMedicoSpec" type="fls:professionista"/>
				<xs:element name="ProfCoinInfermiere" type="fls:professionista"/>
				<xs:element name="ProfCoinOSS" type="fls:professionista"/>
				<xs:element name="ProfCoinFisio" type="fls:professionista"/>
				<xs:element name="ProfCoinLogopedista" type="fls:professionista"/>
				<xs:element name="ProfCoinTerPsico" type="fls:professionista"/>
				<xs:element name="ProfCoinTerOccup" type="fls:professionista"/>
				<xs:element name="ProfCoinPsicologo" type="fls:professionista"/>
				<xs:element name="ProfCoinAssSociale" type="fls:professionista"/>
				<xs:element name="ProfCoinEduProf" type="fls:professionista"/>
				<xs:element name="ProfCoinAltriProfSan" type="fls:professionista"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="FlsSiar_1">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" ref="fls:Assistenza"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Assistenza">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="fls:Trasmissione"/>
				<xs:element ref="fls:Assistito"/>
				<xs:element ref="fls:Erogatore"/>
				<xs:element ref="fls:Eventi"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Eventi">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="fls:PresaInCarico"/>
				<xs:element maxOccurs="unbounded" ref="fls:Valutazione"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>